<h2 class="ui center aligned icon inverted header">
    <i class="circular mail inverted icon"></i>
    <span class="sub header">
        {{ 'sylius.ui.need_assistance'|trans }}</br>
        <a href="{{ path('sylius_shop_contact_request') }}" target="_blank">{{ 'sylius.ui.contact_us'|trans }}</a>
    </span>
</h2>

<div class="ui divider"></div>

<div class="ui center aligned basic segment">
    <i class="huge cc mastercard inverted icon"></i>
    <i class="huge cc visa inverted icon"></i>
    <i class="huge cc paypal card inverted icon"></i>
</div>
