{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div id="sylius-cart-button" class="ui cart button" data-position="bottom right">
    <i class="caret down icon"></i>
    {{ sylius_template_event('sylius.shop.cart.widget.button', {'cart': cart}) }}
</div>
<div class="ui large flowing cart hidden inverted popup z-depth-2">
    {{ sylius_template_event('sylius.shop.cart.widget.popup', {'cart': cart}) }}
</div>
