$linkColor: #4fa3e3;
$green: #329537;
$bodyBackground: #2d3034;
$sidebarBackground: #101111;
$textColor: #efefef;
$greyTextColor: rgba(255, 255, 255, 0.6);
$segmentBackground: #1b1c1d;
$headerBorderColor: rgba(255, 255, 255, 0.1);
$headerColor: rgba(255, 255, 255, 0.902);
$tableBackground: #333;
$tableHeadBackground: rgba(0, 0, 0, 0.15);
$autocompleteSearchInputBackground: #35383b;
$autocompleteSearchInputBorderColor: #595959;
$autocompleteSearchButtonBackground: #35383b;
$autocompleteSearchButtonHoverBackground: #595959;
$autocompleteSearchResultsPriceBorderColor: rgba(255, 255, 255, 0.3);
$dropdownMenuBackground: #1b1c1d;
$cartPopupBackground: #1f1f1f;
$cartPopupQuantityBackground: rgba(239, 239, 239, 0.2);
$cardBackground: #1f1f1f;
$cardContentBackground: #1f1f1f;
$breadcrumbDividerColor: rgba(255, 255, 255, 0.7);
$starRatingIconBackground: rgba(255, 255, 255, 0.3);
$attachedMenuBorderColor: #414449;
$attachedMenuItemBorderColor: #1b1c1d;
$attacheMenuActiveItemBorderColor: #3d3e3f;
$lightboxBackground: #1e1e1e;
$lightboxBorderColor: #1e1e1e;
$cartProductOptionsBorderColor: rgba(255, 255, 255, 0.7);
$completedStepBackground: #1b1c1d;
$completedStepBorderColor: #f3f4f5;
$completedStepTextColor: rgba(255, 255, 255, 0.9);
$checkboxBackground: rgba(255, 255, 255, 0.9);
$checkboxCheckedBackground: $green;
$tableBorderColor: rgba(255, 255, 255, 0.9);
$modalBackground: #1e1e1e;
$dropdownMenuColor: rgba(255, 255, 255, 0.9);
